__pycache__
test.py

model_params/*
!model_params/.gitkeep 

weights/*
!weights/.gitkeep 

tokenizer-dict/*
!tokenizer-dict/.gitkeep 

input/data/*
!input/data/.gitkeep 

input/tokenizer/*
!input/tokenizer/.gitkeep 